<div id="features" class="text-center section">
  <h1>Features</h1>
  <div class="row">
    <div class="col-lg-4">
      <img src="/img/secure.png" class="img-responsive" />
      <h3>Secure</h3>
      <p>The Nebulis directory has minimal reliance on caching, so users can query the canonical blockchain record without imposing excess costs or traffic on the system.</p>
    </div>
    <div class="col-lg-4 ">
      <img src="/img/decentralized.png" class="img-responsive" />
      <h3>Decentralized</h3>
      <p>Nebulis has a federated structure, where clusters are owned by those who create them. Domain records are always under the complete control of the owner.</p>
    </div>
    <div class="col-lg-4">
      <img src="/img/scaleable.png" class="img-responsive" />
      <h3>Scalable</h3>
      <p>With the introduction of sharding and proof of stake, the Ethereum blockchain is scalable to the requirements of a global directory will millions of records.</p>
    </div>
  </div>
</div>
