<div class="row text-center section" id="home">
  <div class="col-lg-6 col-lg-offset-3">
    <img src="/img/gem_flat_small.png" class="img-responsive" />
    <p>A blank-slate, global directory intended to upgrade and replace the existing <a href="https://en.wikipedia.org/wiki/Domain_Name_System">DNS</a> using the <a href="https://www.ethereum.org/">Ethereum</a> blockchain. Nebulis is compatible with a wide variety of content-addressed protocols like <a href="https://ipfs.io">IPFS</a> and <a href="">MaidSafe</a>.</p>
    <a href="#reserve" class="btn btn-primary btn-lg pre-register-button">Reserve Your Interplanetary Address Now!</a>
  </div>
</div>
