<div id="social" class="section text-center">
  <h1>Social</h1>
  <ul class="list-inline social-links">
    <li><a href="https://twitter.com/projectnebulis" target="_blank"><img src="/img/twitter.png" /> @nebulisproject</a></li>
    <li><a href="https://www.facebook.com/nebulis.io" target="_blank"><img src="/img/facebook.png" /> nebulis.io</a></li>
    <li><a href="https://www.linkedin.com/company/nebulis" target="_blank"><img src="/img/linkedin.png" /> Nebulis</a></li>
    <li><a href="mailto:hello@nebulis.io"><img src="/img/email.png" /> hello@nebulis.io</a></li>
  </ul>
</div>
