{{!< layout/default }}

{{# extend 'pre-content' }}
{{# if reserve }}
  {{# if reserve.success }}
    <div class="alert alert-success" role="alert">
      <strong>Done!</strong> Your interplanetary address is successfully reserved!
    </div>
  {{ else }}
    <div class="alert alert-danger" role="alert">
      <strong>Oh snap!</strong> Something went wrong with your address reservation. Check your details and try again.
    </div>
  {{/ if }}
{{/ if }}
{{/ extend }}

{{> header }}
{{> features }}
{{> reserve }}

{{# extend 'js' }}
<script>
  $('#reservation_form').submit(function () {
    var cluster = $(this).find('select[name="cluster"]').val()
    var domain = $(this).find('input[name="domain"]').val()

    return window.confirm('Do you want to pre-register ' + cluster + '.' + domain + '?')
  })
</script>
{{/ extend }}
