{{!< layout/default }}

{{# extend 'pre-content' }}
{{# if reserve }}
  {{# if reserve.success }}
    <div class="alert alert-success" role="alert">
      <strong>Done!</strong> Your interplanetary address is successfully reserved!
    </div>
  {{ else }}
    <div class="alert alert-danger" role="alert">
      {{# if reserve.messages }}
        {{# each reserve.messages }}
          <p>{{ message }}.</p>
        {{/each}}
      {{ else }}
        <strong>Oh snap!</strong> Something went wrong with your address reservation. Check your details and try again.
      {{/ if }}
    </div>
  {{/ if }}
{{/ if }}
{{/ extend }}

{{> header }}
{{> features }}
{{> reserve }}

{{# extend 'js' }}
<script>
  $('#reservation_form').submit(function () {
    var cluster = $(this).find('select[name="cluster"]').val()
    var domain = $(this).find('input[name="domain"]').val()
    var fqdn = cluster + '.' + domain
    var address = 'ipfs://' + fqdn

    var confirmation = window.confirm('Do you want to pre-register ' + fqdn + '?' + '\nYour Interplanatery Address will be "' + address + '"')

    if (confirmation) mixpanel.track('Pre-register address')
    else mixpanel.track('Abort pre-registering address')

    return confirmation
  })
</script>
{{/ extend }}
